# Web Framework
flask
flask-cors
gunicorn
uvicorn

# ML & Data Science
tensorflow
torch
transformers
scikit-learn
pandas
numpy
matplotlib
seaborn

# Translation
deep-translator
langdetect

# Authentication & API
python-jose
python-multipart
pydantic



# Testing
pytest
requests

# Environment & Utils
python-dotenv
